<!DOCTYPE html>
<html>
<head>
    <title>Receiver Settings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Receiver Settings</h2>
    <form action="/settings" method="post">
        <div class="row">
            {% for key, receiver in receivers.items() %}
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Receiver {{ key }}</h5>
                        <div class="form-group">
                            <label for="{{ key }}_ip">Full IP Address:</label>
                            <input type="text" class="form-control" id="{{ key }}_ip" name="{{ key }}_ip" value="{{ receiver.url.split('//')[1].split('/')[0] }}">
                        </div>
                        <h6>Graph Settings:</h6>
                        <div id="graph-settings-{{ key }}">
                            {% for threshold in receiver.graph_settings.thresholds %}
                            <div class="form-row align-items-center">
                                <div class="col">
                                    <label for="{{ key }}_threshold_{{ loop.index }}">MER DB Threshold {{ loop.index }}:</label>
                                    <input type="number" class="form-control mb-2" id="{{ key }}_threshold_{{ loop.index }}" name="{{ key }}_threshold_{{ loop.index }}" value="{{ threshold.value }}" placeholder="Value">
                                </div>
                                <div class="col">
                                    <label for="{{ key }}_color_{{ loop.index }}">Color:</label>
                                    <input type="color" class="form-control form-control-color mb-2" id="{{ key }}_color_{{ loop.index }}" name="{{ key }}_color_{{ loop.index }}" value="{{ threshold.color }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-secondary btn-sm mt-2" onclick="addSetting('{{ key }}')">Add Setting</button>
                        <div class="form-check mb-3 mt-2">
                            <input type="checkbox" class="form-check-input" id="{{ key }}_update" name="{{ key }}_update" value="yes">
                            <label class="form-check-label" for="{{ key }}_update">Update this receiver</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update Selected</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

<script>
    function addSetting(receiverKey) {
        let settingsContainer = document.getElementById('graph-settings-' + receiverKey);
        let currentSettings = settingsContainer.getElementsByClassName('form-row').length;

        if (currentSettings < 5) {
            let settingNumber = currentSettings + 1;
            let newSettingRow = document.createElement('div');
            newSettingRow.className = 'form-row align-items-center';
            newSettingRow.innerHTML = `
                <div class="col">
                    <label for="${receiverKey}_threshold_${settingNumber}">MER DB Threshold ${settingNumber}:</label>
                    <input type="number" class="form-control mb-2" id="${receiverKey}_threshold_${settingNumber}" name="${receiverKey}_threshold_${settingNumber}" placeholder="Value">
                </div>
                <div class="col">
                    <label for="${receiverKey}_color_${settingNumber}">Color:</label>
                    <input type="color" class="form-control form-control-color mb-2" id="${receiverKey}_color_${settingNumber}" name="${receiverKey}_color_${settingNumber}">
                </div>`;
            settingsContainer.appendChild(newSettingRow);
        } else {
            alert('Maximum of 5 settings reached.');
        }
    }
</script>
</body>
</html>
