<!DOCTYPE html>
<html>
<head>
    <title>Settings - Vislink Receiver</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
       function padInputValues() {
           let inputs = document.querySelectorAll('input[type="number"]');
           inputs.forEach(input => {
               let val = input.value;
               if (val.length === 1) {
                   input.value = '00' + val;
               } else if (val.length === 2) {
                   input.value = '0' + val;
               }
           });
           return true;  // This ensures the form will be submitted after the function runs
       }
    </script>
</head>
<body>
<div class="container mt-5">
    <h2>Update Receiver URLs</h2>
    <p>Base URL: http://10.0.101.<strong>[Your Input]</strong>/data.xml</p>
    <form action="/settings" method="post">
        {% for key, receiver in receivers.items() %}
        <div class="form-group">
            <label for="{{ key }}_ip">Receiver {{ key }} Full IP Address:</label>
            <input type="text" class="form-control" id="{{ key }}_ip" name="{{ key }}_ip" value="{{ receiver.url.split('//')[1].split('/')[0] }}">
            <input type="checkbox" id="{{ key }}_update" name="{{ key }}_update" value="yes"> Update this receiver?
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Update Selected</button>
    </form>
    
</div>
</body>
</html>
